@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Kavoon&display=swap");

* {
  margin: 0%;
  padding: 0%;
}

body {
  height: auto;
  font-family: "Kavoon", cursive;
  font-family: "Bree Serif", serif;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("https://autoportal.com/img/new-cars-gallery/renault/kwid/exterior/432c3dcf/renault-kwid-432c3dcf-1600x1200.JPG");
  font-weight: bolder;
}

.carousel-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* @media screen and (min-width: 992px) {
    .row {
        margin-top: 0%;
    }
}

@media screen and (min-width: 576px) {
    .row {
        margin-top: 50%;
    }
}

@media screen and (min-width: 330px) {
    .row {
        margin-top: 50%;
    }
}

*/
@media screen and (max-width: 100px) {
  #example {
    margin-top: 50%;
  }
}
